{% include 'partials/header.html' %}
<form action="{% url 'add' %}" method="post">
{% csrf_token %}
  <label for="title">Title</label><br />
  <input type="text" name="title" id="title" />
  <br>
  <label for="deadline">Deadline</label><br />
  <input type="date" name="deadline" id="deadline">
  <br>
  <label for="procent">Procent</label><br />
  <input type="number" min="0" max="100" name="procent" id="procent">
  <br>
  <br><br>
  <input type="submit" value="Submit" />
</form>
<br>
<a href="/">Go Back</a>
{% include 'partials/footer.html' %}
